.form {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  padding: var(--spacing-xx-small) var(--spacing-xx-large);
  box-shadow: 0 0 var(--spacing-xxxx-small) var(--color-primary);
  background-color: var(--color-accent);
  z-index: 1;
  min-height: 100vh;
}

.input {
  margin-top: var(--spacing-xxx-small);
  padding: var(--spacing-xxxx-small);
  border: none;
  border-radius: calc(var(--radius-small) / 2);
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-weight: var(--font-weight-light);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  margin-top: var(--spacing-xx-small);
  min-width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--radius-large);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-x-contrast);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-x-accent);
    border: 1px solid var(--color-contrast);
    color: var(--color-foreground);
  }
}
