.notelist {
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: var(--spacing-xx-small);
  list-style-type: none;
  padding-top: var(--spacing-regular);
}

.cardTitle {
  margin-bottom: var(--spacing-xx-small);
  color: var(--color-foreground);
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

.item {
  max-width: 240px;
  max-height: 400px;
  display: inline;
}
