@import '../assets/fonts/fonts.scss';

@for $i from 1 through 6 {
  h#{$i} {
    font-family: var(--typography-heading#{$i}-family);
    font-size: var(--typography-heading#{$i}-size);
    font-weight: var(--typography-heading#{$i}-weight);
    line-height: var(--typography-heading#{$i}-height);
  }
}

body {
  font-family: var(--typography-body-family);
  font-size: var(--typography-body-size);
  font-weight: var(--typography-body-wfont-weight);
  font-weight: 400;
  letter-spacing: 0.005rem;
}

.content {
  display: flex;
}

.mainCategories {
  width: 50%;
  background-color: var(--color-background);
  padding: var(--spacing-xx-small) var(--spacing-xx-large);
}

:root {
  /* Colors */
  --color-primary: #211a1d;
  --color-secondary: #f8f0fb;
  --color-background: var(--color-primary);
  --color-foreground: var(--color-secondary);
  --color-accent: #6320ee;
  --color-x-accent: #8075ff;
  --color-contrast: #cad5ca;
  --color-x-contrast: #f8f0fb;
  /* Size */
  --size-small: 12px;
  --size-regular: 24px;
  --size-large: 48px;
  /* Spacing */
  --spacing-xxxx-small: 4px;
  --spacing-xxx-small: 8px;
  --spacing-xx-small: var(--size-small);
  --spacing-x-small: 16px;
  --spacing-small: 20px;
  --spacing-regular: var(--size-regular);
  --spacing-large: 32px;
  --spacing-x-large: 36px;
  --spacing-xx-large: 40px;
  --spacing-xxx-large: 44px;
  --spacing-xxxx-large: var(--size-large);
  /* Border */
  --radius-small: 8px;
  --radius-regular: 16px;
  --radius-large: var(--size-large);
  /* Button */
  --button-size-small: 44px;
  --button-size-regular: 60px;
  --button-size-large: 80px;
  --button-width: 320px;
  --button-height: 44px;
  /* Typography */
  /* HEADING */
  --typography-heading1-family: 'Barlow Condensed', sans-serif;
  --typography-heading1-size: 3.5rem;
  --typography-heading1-weight: 600;

  --typography-heading2-family: var(--typography-heading1-family);
  --typography-heading2-size: 3rem;
  --typography-heading2-weight: var(--typography-heading1-weight);

  --typography-heading3-family: var(--typography-heading1-family);
  --typography-heading3-size: 2.5rem;
  --typography-heading3-weight: var(--typography-heading1-weight);

  --typography-heading4-family: var(--typography-heading1-family);
  --typography-heading4-size: 2rem;
  --typography-heading4-weight: var(--typography-heading1-weight);

  --typography-heading5-family: var(--typography-heading1-family);
  --typography-heading5-size: 1.5rem;
  --typography-heading5-weight: var(--typography-heading1-weight);

  --typography-heading6-family: var(--typography-heading1-family);
  --typography-heading6-size: 1rem;
  --typography-heading6-weight: var(--typography-heading1-weight);

  --typography-body-family: 'Poppins', sans-serif;
  --typography-body-size: 14px;
  --typography-body-weight: 300;
}
