.content {
  display: flex;
}

.mainContent {
  flex-grow: 3;
}

.mainCategories {
  width: 50%;
  background-color: var(--color-background);
  padding: var(--spacing-xx-small) var(--spacing-xx-large);
}

:root {
  /* Colors */
  --color-primary: #211a1d;
  --color-secondary: #f8f0fb;
  --color-background: var(--color-primary);
  --color-foreground: var(--color-secondary);
  --color-accent: #6320ee;
  --color-x-accent: #8075ff;
  --color-contrast: #cad5ca;
  --color-x-contrast: #f8f0fb;
  /* Size */
  --size-small: 12px;
  --size-regular: 24px;
  --size-large: 48px;
  /* Spacing */
  --spacing-xxxx-small: 4px;
  --spacing-xxx-small: 8px;
  --spacing-xx-small: var(--size-small);
  --spacing-x-small: 16px;
  --spacing-small: 20px;
  --spacing-regular: var(--size-regular);
  --spacing-large: 32px;
  --spacing-x-large: 36px;
  --spacing-xx-large: 40px;
  --spacing-xxx-large: 44px;
  --spacing-xxxx-large: var(--size-large);
  /* Border */
  --radius-small: 8px;
  --radius-regular: 16px;
  --radius-large: var(--size-large);
  /* Fonts */
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weigth-light: 300;
  /* Button */
  --button-size-small: 44px;
  --button-size-regular: 60px;
  --button-size-large: 80px;
  --button-width: 320px;
  --button-height: 44px;
}
