.card {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-background);
  border-radius: var(--spacing-xxxx-small);
  box-shadow: 0 0 var(--spacing-xxxx-small) var(--color-foreground);
  padding: var(--spacing-x-small);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.text {
  color: var(--color-foreground);
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  max-width: 90px;
  background-color: var(--color-x-accent);
  padding: var(--spacing-xxxx-small);
  border-radius: calc(var(--radius-small) / 2);
}

.description {
  margin-top: var(--spacing-xxx-small);
}
